@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #020617; /* Slate 950 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a; /* Slate 900 */
    --foreground: #f8fafc; /* Slate 50 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
